{% extends 'base.html.twig' %}

{% block title %}Welcome to the blog!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
</style>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {% if app.user == false %}
        <div class="mb-3">
            <a href="{{ path('app_login') }}"
               class="button is-primary">
                Login
            </a>
        </div>
    {% endif %}

<div class="example-wrapper">
    <h1>Welcome to the blog!</h1>

    <a href="{{ path('new_post') }}" class="button is-primary">
        Create a new Entry
    </a>

    <table class="styled-table">
    <tr>
        <th>Post </th>
        <th>Author</th>
        <th>Updated</th>
        {% if app.user and "ROLE_ADMIN" in app.user.roles %}<th>Edit</th>{% endif %}
    </tr>
    {% for blogPost in blogPosts %}
        <tr>
            <div>
                <div>
                    <td>
                    <a href="{{ path('blog_post', {'slug': blogPost.slug}) }}"
                       class="button is-primary">
                        {{ blogPost.title }}
                    </a>
                </div>
                <div>
                    {{ blogPost.body | slice(0,40) }}...
                </div>
            </div>
            </td>
            <td>{{ blogPost.author.email }}</td>
            <td>{{ blogPost.updated.format('Y-m-d\ H:i:s') }}</td>
            {% if app.user and "ROLE_ADMIN" in app.user.roles %} <td>
                <a href="{{ path('edit_post', {'slug': blogPost.slug}) }}" class="button is-primary">
                    Edit
                </a>
                </td>
            {% endif %}

        </tr>
    {% endfor %}

    </table>

</div>
{% endblock %}
